.btn-main {
  background: #4c27b3;
  color: white;
}
.btn-main:hover {
  color: white;
}
.outline-main {
  border: 1px solid#4c27b3;
}
.color-main {
  color: #4c27b3;
}
.btn-outline-main {
  border: 1px solid #4c27b3;
}
.passwordToggle {
  margin-left: -35px;
  z-index: 1;
  margin-top: 15px;
  cursor: pointer;
}

.bg-main {
  background-color: #4c27b3;
}
bg-dark-nav {
  background: #3d199f;
}
.active-nav {
  background: #3f16af;
}
@media only screen and (max-width: 600px) {
  .user-role {
    flex-direction: column;
  }
  .search-bar {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
  }
}
.border-main {
  border: 1px solid #4c27b3;
}
body {
  font-family: Helvetica;
}
.icon-size {
  font-size: 4rem;
}
a {
  color: #4c27b3;
}
.custom-checkbox {
  background: #4c27b3;
  color: white;
  cursor: pointer;
}

.drop-zone-new {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  border: 1px solid black;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

body {
  font-family: sans-serif;
}
a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}


#sidebar ul li a {
  padding:10px 30px 10px 20px;
  font-size: 1.1em;
  display: block;
}
a[data-toggle="collapse"] {
  position: relative;
}


#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#sidebar .item{
  margin-left: 5px;
}

#sidebar ul li a:hover {
  background: #792ddd;
}
.sub-menu:hover{
  background: #792ddd;
}

.settings-nav ul li:hover {
 background: #792ddd;
}


.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #4c27b3;
  color: #4c27b3;
  -webkit-animation: dot-flashing 1s infinite linear alternate;
  animation: dot-flashing 1s infinite linear alternate;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: dot-flashing 1s infinite alternate;
  animation: dot-flashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  -webkit-animation: dot-flashing 1s infinite alternate;
  animation: dot-flashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
.add-btn{
  cursor: pointer;
}

.group-table td,th{
padding:1px;
}

.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 38px;
	padding: 0 4px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
}

.tags-input:focus-within {
		border: 1px solid #0052cc;
	}
	.input-tag {
		flex: 1;
		border: none;
		height: 40px;
		font-size: 14px;
		padding: 4px 0 0 0;
  }

  input:focus {
			outline: transparent;
		}


#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 4px 0 0 0;
}

.tag {
	width: auto;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 4px;
	font-size: 12px;
	list-style: none;
	border-radius: 6px;
	margin: 0 4px 4px 0;
	background: #0052cc;
}
	.tag-title {
		margin-top: 2px;
	}
	.tag-close-icon {
		display: block;
		width: 14px;
		height: 14px;
		line-height: 14px;
		text-align: center;
		font-size: 14px;
		margin-left: 6px;
		color: #0052cc;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
	}


@media screen and (max-width: 567px) {
	.tags-input {
		width: calc(100vw - 32px);
	}
}


.activity-card{
  border:1px solid #4c27b3;
  border-radius:20px;
  text-align:center;
  padding:50px 20px;
  background:white;
  margin:8px 3px;
  height:180px;
  align-items:center;

}
.activity-wrapper{
  background:#f2f4f5;
}
.inventory-summary {
  border:1px solid #4c27b3;
  border-radius:20px;
  margin:15px 4px;
}

.progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg circle {
  fill: none;
  stroke: #4c27b3;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dashoffset: -5;
  stroke-dasharray: 200;
}

.color-light{
    background:#e9e5f6;
}
.btn-plus {
  cursor:pointer;
}
.bg-light-50{
  background:#f4f6f6;
}
.border-left-main{
  border-left: 3px solid #4c27b3;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #FFF;
  background-color: rgb(83, 208, 96);
}
.pill-active{
  background:#5462b0;
}
.food-menu .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #FFF;
  background-color: #5462b0;
  padding-left:22px;
  padding-right:22px;
}


.logo-image{
  height: 60%;
  width:60%;
}
.till-image {
  cursor:pointer;
}





.card-image{
  width:100%;
  height:100%;
}

.till-nav-active{
border-bottom: 2px solid rgb(83, 208, 96);
}
.list-menu-item:hover{
background:#5462b0;
}
.full-height{
  height:100vh;
}


div.btn-container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div.btn-container i{
  display: inline-block;
  position: relative;
  top: -9px;
}



.btn-color-mode-switch{
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
  margin: 0px;
  width: 163px;
  height: 40px;
  color:white;
  background: #4c27b3;
  border-radius: 26px;
  border:1px solid rgb(194, 189, 189);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
  content: attr(data-on);
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  top: 10px;
  right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
  content: attr(data-off);
  width: 88px;
  color:white;
  height: 34px;
  background: #8c51eb;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  background: #4c27b3;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
  content: attr(data-on);
  left: 70px;
  background: #8c51eb;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 20px;
  cursor: pointer;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
  /*background: #66BB6A; */
  /*color: #fff;*/
}

.list-menu-item:focus{
background:#8c51eb;
}














