.screen {
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 10px;
  border:1px solid #4c27b3;
  /* background-color: #4c27b3; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* color: white; */
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
}
